<%- include('../layouts/admin-header') %>

<main id="main-content" class="ml-collapsed">
  <div class="dashboard-content">
    <div class="card shadow-sm mb-4">
      <div class="card-body">
        <h4 class="card-title">Settings</h4>
        <p class="card-title-desc">Update shipping rates.</p>

        <form action="/admin/settings" method="POST">
          <div class="row">
            <div class="col-md-4">
              <h5>DHL</h5>
              <div class="form-group">
                <label for="dhlBaseRate">Base Rate</label>
                <input type="number" class="form-control" id="dhlBaseRate" name="dhl[baseRate]" value="<%= user.shippingRates.dhl.baseRate %>" step="0.01">
              </div>
              <div class="form-group">
                <label for="dhlAdditionalFees">Additional Fees</label>
                <input type="number" class="form-control" id="dhlAdditionalFees" name="dhl[additionalFees]" value="<%= user.shippingRates.dhl.additionalFees %>" step="0.01">
              </div>
            </div>
            <div class="col-md-4">
              <h5>FedEx</h5>
              <div class="form-group">
                <label for="fedexBaseRate">Base Rate</label>
                  <label for="fedexBaseRate">Base Rate</label>
                  <input type="number" class="form-control" id="fedexBaseRate" name="fedex[baseRate]" value="<%= user.shippingRates.fedex.baseRate %>" step="0.01">
                </div>
                <div class="form-group">
                  <label for="fedexAdditionalFees">Additional Fees</label>
                  <input type="number" class="form-control" id="fedexAdditionalFees" name="fedex[additionalFees]" value="<%= user.shippingRates.fedex.additionalFees %>" step="0.01">
                </div>
              </div>
              <div class="col-md-4">
                <h5>UPS</h5>
                <div class="form-group">
                  <label for="upsBaseRate">Base Rate</label>
                  <input type="number" class="form-control" id="upsBaseRate" name="ups[baseRate]" value="<%= user.shippingRates.ups.baseRate %>" step="0.01">
                </div>
                <div class="form-group">
                  <label for="upsAdditionalFees">Additional Fees</label>
                  <input type="number" class="form-control" id="upsAdditionalFees" name="ups[additionalFees]" value="<%= user.shippingRates.ups.additionalFees %>" step="0.01">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save Settings</button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
